<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
		<title>Home Page</title>
	</head>
	<body style="color: red; font-family: sans-serif; text-align: center; background-color: olive;" >
		<a th:href="@{/student-form.htm}" class="btn btn-primary" >Add Student</a>
		<a th:href="@{/show-student.htm}" class="btn btn-danger">Show Student</a>
	</body>
</html>